#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 244, 230);
  padding: 0.7em;
  border: 1em solid rgb(255, 224, 229);
  margin: 0.5em 0.5em 3em 0.5em;
}
.example-container {
  border: 1px dotted rgb(248, 151, 255); 
  padding: 1em;
  margin: 0em 0.5em 1.5em 0.5em;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.input-text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8em;
}

h2 {
  font-variant: small-caps;
}
.bold {font-weight: bold;}
.italic {font-style: italic;}

legend {
padding: 0.5em 1em;
}
input {
  margin: 0.4rem;
}

.button-on {
  background-color: hotpink;
  color: rgba(255, 255, 255, 0.87);
}
.button-on:active {
  background-color: hotpink;
}
.button-off {
  background-color: turquoise;
}
.button-off:active {
  background-color: turquoise;
}

.dark-mode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;  

  button {
    background-color: #646cff;
    color: rgba(255, 255, 255, 0.87);
  }
  button:hover {
    border-color: white;
  }
}
.light-mode {
  color: #213547;
  background-color: #f9f6f6;
}
